$backcolor: #F8F8F8;
$darkblue: #083649;
$darkpink: #ec008c;

:root{
    background: $backcolor;
    color: $backcolor;
    font-size: 20px;

    a{
        color: $backcolor;
        text-decoration: none;
    }
}

body{
    font-family: 'Titillium Web', sans-serif;
}

.normalover{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.topover{
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
}

.navtext{
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
}

.pink {
    color: $darkpink;
}

i{
    font-size: 35px;
}

