$backcolor: #f8f8f8;
$bluedark: #083649;
$pinklight: #f900c4;
$pinkdark: #ec008c;
$nocardgrad: linear-gradient(0deg, $bluedark 0%, $pinkdark 100%);
$goldgrad: linear-gradient(0deg, rgba(117,99,0,1) 0%, rgba(255,215,0,1) 60%, rgba(255,237,138,1) 100%);
$goldradial: radial-gradient(circle, rgb(255, 249, 214) 0%, rgb(255, 215, 0) 45%, rgb(117, 99, 0) 100%);
$bronzegrad: linear-gradient(180deg, rgba(255,153,72,1) 0%, rgba(255,115,0,1) 45%, rgba(94,43,0,1) 100%);
$bronzeradial: radial-gradient(circle, rgba(255,153,72,1) 0%, rgba(255,115,0,1) 45%, rgba(94,43,0,1) 100%);

$errorred:red;

:root{
    background: $backcolor;
    font-size: 20px;

    a{
        text-decoration: none;
    }
    height: 100%;
}

body{
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
}

.overskrift1{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    color:$bluedark
}

.overskrift2{
    color: $backcolor;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.stortekst{
    font-size: 30px;
    font-weight: bold;
}

.pink {
    color: $pinkdark;
}

// side elementer start


.navtext {
    font-family: "Bebas Neue", sans-serif;
    color: #f8f8f8;
    font-size: 15px;
  }
  
  .navtextbig {
    font-family: "Bebas Neue", sans-serif;
    color: #f8f8f8;
    font-size: 20px;
  }
  
  .navicon {
    font-size: 35px;
  }

@mixin navtext {
    font-family: 'Bebas Neue', sans-serif;
    color: $backcolor;
}

.navtext{
    @include navtext();
    font-size: 15px;
}

.navtextbig{
    @include navtext();
    font-size: 20px;
}

.navicon{
    font-size: 35px;
}

#bruger, #aarskort, #mere {
    background: $bluedark;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    a {
      margin: 5px;
    }
  }

#aarskort{
    width: 100px;
    margin-bottom: 40px;
    border-radius: 100px;
    border: 20px solid $bluedark;
    font-size: 20px;
    background: $bluedark;

    svg{
        width: 100%;
        height: auto;
    }
}

.proimg{
    display: flex;
    justify-content: center;
    }

#content{
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#box{
    background-color: $backcolor;
    border-radius: 20px;
    filter: drop-shadow(0px 10px 20px transparentize($bluedark, 0.5));
}

.brugernavn{
    text-align: center;
    background: $bluedark;
    color: $backcolor;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: min-content;
    border-radius: 50px;
    border: 5px solid $backcolor;
    filter: drop-shadow(0px 2px 3px transparentize($bluedark, 0.5));
    line-height: 66%;
}

#tilbage{
    background: $bluedark;
    color: $backcolor;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    line-height: 40px;
    z-index: 5;
}

.brugerinfo{
    color: $bluedark;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 2px solid $bluedark;
    i{
        margin-right: 20px;
    }

    svg{
        transform: scale(0.8);
        margin-bottom: -5px;
        margin-left: -3px;
        margin-right: 15px;
    }
}

.nybruger{
    background: $pinklight;
    height: 100px;
    width: 100px;
    text-align: center;
    color: $backcolor;
    border-radius: 50%;
    line-height: 78px;
    font-size: 100px;
    margin: auto;
    margin-top: 0px;
}

#logout{
    color: $backcolor;
    background: $errorred;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    line-height: 40px;
    z-index: 5;
}

// brugere.html - styling af det store profilbillede
.proimg{
    a{
        border-radius: 50%;
        background: $nocardgrad;

        img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
        object-position: 50% 0%;;
        margin: 5px;
        margin-bottom: -3px
        }
    }
}

#probrug{
    a{
        img{
            margin: 10px;
            margin-bottom: 2px;
            height: 120px;
            width: 120px;
        }
    }
    
}

// brugere.html - styling af de små profilbilleder
.brugericon{
    background: black;
}


// side elementer slut

/* Log ind start*/
button {
background-color: $pinklight;
color: $backcolor;
font-family: 'Titillium Web', sans-serif;
font-size: 20px;
font-weight: bold;
letter-spacing: 1px;
padding: 8px 20px;
margin: 10px 0;
border: none;
border-radius: 30px;
cursor: pointer;
width: 100%;
}

.button2 {
background-color: $bluedark;
font-family: 'Titillium Web', sans-serif;
font-size: 15px;
width: 80px; 
} 

button:hover {
opacity: 0.6;
}

    /* Teksten over indtastfelterne start*/
label{
color: $bluedark;
font-style: bold;
float: left;
}

b {
    color: $pinkdark;
}

    /* Teksten over indtastfelterne slut*/

input[type=text], input[type=password], input[type=number], input[type=date] {
width: 100%;
padding: 10px 20px;
margin: 8px 0;
display: inline-block;
background: $backcolor;
border-top-style: none;
border-right-style: none;
border-bottom-style: solid; 
border-left-style: none;
border-bottom-color:$bluedark;
box-sizing: border-box;
}

    /* Glemt kodeord link start*/
span.psw {
float: right;
font-size: 15px;
font-weight: bold;
}

a {
color: $bluedark;
}
    /* Glemt kodeord link slut*/

    /* ikon styling */
.inputicon{
i{
font-size: 25px;
color: $bluedark;
}
    /* checkbox generel styling */
}    .mindretekst { 
        font-size: 15px;
    }

/* Log ind slut*/


// Error håndtering start
#error {
    color: $errorred;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid $errorred;;
    width: 100%;
    text-align: center;
}

.error {
    input[type=text] {
        border-color: red;
    }
    input[type=password]{
        border-color: red;
    }
    .inputicon i{
        color: red;
    }
} 
// Error håndtering slut