:root {
  background: #f8f8f8;
  font-size: 20px;
  height: 100%;
}
:root a {
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: "Titillium Web", sans-serif;
  height: 100%;
}

header {
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  height: 100px;
  width: 100%;
  background: #083649;
  top: 0;
}

h1 {
  margin: 0px;
  width: 100%;
  text-align: center;
}

.overskrift1 {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  color: #083649;
}

.overskrift2 {
  color: #f8f8f8;
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.stortekst {
  font-size: 30px;
  font-weight: bold;
}

.pink {
  color: #ec008c;
}

.botnav {
  align-self: flex-end;
}

nav{
  bottom: 0;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: -1px;
}

nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  right: 0;
  height: 100px;
  width: 100%;
  background: #083649;
  bottom: 0;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: -1px;
}

.navtext {
  font-family: "Bebas Neue", sans-serif;
  color: #f8f8f8;
  font-size: 15px;
}

.navtextbig {
  font-family: "Bebas Neue", sans-serif;
  color: #f8f8f8;
  font-size: 20px;
}

.navicon {
  font-size: 35px;
}

.navtext {
  font-family: "Bebas Neue", sans-serif;
  color: #f8f8f8;
  font-size: 15px;
}

.navtextbig {
  font-family: "Bebas Neue", sans-serif;
  color: #f8f8f8;
  font-size: 20px;
}

.navicon {
  font-size: 35px;
}

#bruger, #aarskort, #mere {
  background: #083649;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#bruger a, #aarskort a, #mere a {
  margin: 5px;
}

#aarskort {
  width: 100px;
  margin-bottom: 40px;
  border-radius: 100px;
  border: 20px solid #083649;
  font-size: 20px;
  background: #083649;
}
#aarskort svg {
  width: 100%;
  height: auto;
}

#merepop {
  background: #ec008c;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: -266px;
  margin-right: -125px;
  display: flex;
  justify-content: left;
  justify-items: left;
  width: 266px;
  height: 266px;
  border-radius: 250px;
}
#merepop div {
  margin-top: 10px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
#merepop div a {
  color: #f8f8f8;
  margin-bottom: 5px;
}
#merepop div #X {
  margin-bottom: 5px;
  font-size: 30px;
}

.proimg {
  display: flex;
  justify-content: center;
}

#content {
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#box {
  background-color: #f8f8f8;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 20px rgba(8, 54, 73, 0.5));
  box-sizing: content-box;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.brugernavn {
  text-align: center;
  background: #083649;
  color: #f8f8f8;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 50px;
  border: 5px solid #f8f8f8;
  filter: drop-shadow(0px 2px 3px rgba(8, 54, 73, 0.5));
  line-height: 66%;
}

#tilbage {
  background: #083649;
  color: #f8f8f8;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  line-height: 40px;
  z-index: 5;
}

.brugerinfo {
  color: #083649;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px solid #083649;
}
.brugerinfo i {
  margin-right: 20px;
}
.brugerinfo svg {
  transform: scale(0.8);
  margin-bottom: -5px;
  margin-left: -3px;
  margin-right: 15px;
}

.nybruger {
  background: #f900c4;
  height: 100px;
  width: 100px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 50%;
  line-height: 78px;
  font-size: 100px;
  margin: auto;
  margin-top: 0px;
}

#logout {
  color: #f8f8f8;
  background: red;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  line-height: 40px;
  z-index: 5;
}

.proimg a {
  border-radius: 50%;
  background: linear-gradient(0deg, #083649 0%, #ec008c 100%);
}
.proimg a img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  margin: 5px;
  margin-bottom: -3px;
}

#proicon {
  display: flex;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(0deg, #083649 0%, #ec008c 100%);
}
#proicon img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  margin: auto;
}

#probrug a img {
  margin: 10px;
  margin-bottom: 2px;
  height: 120px;
  width: 120px;
}

.brugericon {
  background: black;
}

/* Log ind start*/
button {
  background-color: #f900c4;
  color: #f8f8f8;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.button2 {
  background-color: #083649;
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  width: 80px;
}

button:hover {
  opacity: 0.6;
}

/* Teksten over indtastfelterne start*/
label {
  color: #083649;
  font-style: bold;
  float: left;
}

b {
  color: #ec008c;
}

/* Teksten over indtastfelterne slut*/
input[type=text], input[type=password], input[type=number], input[type=date] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  background: #f8f8f8;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: #083649;
  box-sizing: border-box;
}

/* Glemt kodeord link start*/
span.psw {
  float: right;
  font-size: 15px;
  font-weight: bold;
}

a {
  color: #083649;
}

/* Glemt kodeord link slut*/
/* ikon styling */

.inputicon i {
  font-size: 25px;
  color: #083649;
}

.mindretekst {
  font-size: 15px;
}

/* Log ind slut*/
#error {
  color: red;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid red;
  width: 100%;
  text-align: center;
}

.error input[type=text] {
  border-color: red;
}
.error input[type=password] {
  border-color: red;
}
.error .inputicon i {
  color: red;
}/*# sourceMappingURL=base.css.map */