$backcolor: #f8f8f8;
$bluedark: #083649;
$pinklight: #f900c4;
$pinkdark: #ec008c;
$nocardgrad: linear-gradient(0deg, $bluedark 0%, $pinkdark 100%);

:root{
    background: $backcolor;
    font-size: 20px;

    a{
        text-decoration: none;
    }
    height: 100%;
}

body{
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
}

.mindretekst {
    font-size: 18px;
    color: $bluedark;
}

.overskrift1{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.topover{
    color: $backcolor;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

// side elementer start

@mixin navtext {
    font-family: 'Bebas Neue', sans-serif;
    color: $backcolor;
}

.navtext{
    @include navtext();
    font-size: 15px;
}

.navtextbig{
    @include navtext();
    font-size: 20px;
}

.navicon{
    font-size: 35px;
}

.pink {
    color: $pinkdark;
}

#content{
    height: 100%;
}

#box{
    background-color: $backcolor;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    filter: drop-shadow(0px 10px 20px transparentize($bluedark, 0.5));
}
// side elementer slut

/* Log ind start*/
button {
    background-color: $pinklight;
    color: $backcolor;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    }
    
    .button2 {
    background-color: $bluedark;
    width: 30%; 
    } 
    
    button:hover {
    opacity: 0.6;
    }
    
/* Log ind slut*/