@import "base";

body {
    margin: 0px;
    background-color: $backcolor;
    font-family: 'Titillium Web', sans-serif;
  }

      /* styling af logo start */
      #logo img {
        width: 80%;
        height: auto;
      }

      div{
        text-align: center;
        padding-top: 60px;
      }
      /* styling af logo slut */

#brugerfelt {
  padding: 0px;
}

.brugerikon {
  padding-top: 0px;
  display: flex;
  align-items: flex-end;
}


h1{
text-align: center;
margin-top: 50px;
margin-bottom: 0px;
font-family: 'Bebas Neue', sans-serif;
}

p{
margin: 80px 0;
margin-bottom: 0;
}

label{
    color:$pinkdark;
    font-style: bold;
    float: left;
}

#husk {
  margin-top: 50px;
  font-size: 18px;
  color: $bluedark;
}

input[type=text], input[type=password] {
width: 100%;
padding: 10px 20px;
margin: 8px 0;
display: inline-block;
background: $backcolor;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid; 
    border-left-style: none;
border-bottom-color:$bluedark;
box-sizing: border-box;
}

.container {
padding: 50px;
padding-top: 20px;
padding-bottom: 0px;
}

span.psw {
float: right;
font-size: 15px;
}

a {
  color: $bluedark;
}
     
      
/* login side slut */
