@import "base";

/* styling af logo start */
#logo img {
  width: 80%;
  height: auto;
  padding-top: 60px;
}

#logo {
display: flex;
justify-content: center;
}
/* styling af logo slut */

.container {
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  }

h1{
text-align: center;
margin-bottom: 0px;
}

p{
margin: 80px 0;
margin-bottom: 0;
}

#husk {
  margin-top: 50px;
}


/* kan findes i opret.html */
.checkboxdiv {
  margin-top: 25px;
}

.inputicon{
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  
  i{
    margin-top: 20px;
    margin-right: 10px;
  }
}

#error {
  float: left;
}