@import "base";

/* styling af logo start */
#logo img {
  width: 80%;
  height: auto;
  padding-top: 60px;
}

#logo {
display: flex;
justify-content: center;
}
/* styling af logo slut */

#tilbage{
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
   top: 0;
  left: 0;
}

.container {
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  }

/* flexbox for opret.html checkbokse start*/
.column {
  float: left;
  width: 10%;
}

.column.right {
  justify-content: center;
  width: 90%;
}
.row {
  display: flex;
  align-items: center;
}
/* flexbox for opret.html checkbokse slut*/

h1{
text-align: center;
margin-bottom: 0px;
}

p{
margin: 80px 0;
margin-bottom: 0;
}

#husk {
  margin-top: 50px;
}

.inputicon{
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  
  i{
    margin-top: 20px;
    margin-right: 10px;
    width: 20px;
  }

  svg{
    width: 12px;
    height: auto;
  }
}

#error {
  float: left;
}