@import "base";

$nocardgrad: linear-gradient(0deg, rgba(249,0,196,1) 0%, rgba(8,54,73,1) 100%);


:root{
    background-image: url(../assets/baggrund.iphone.svg);
}

@mixin topbottom {
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    height: 100px;
    width: 100%;
    background-color: $bluedark;
}

body{
    margin: 0px;
}

 header{
        @include topbottom();
        top: 0;
        
        h1 {
            margin: 0px;
            width: 100%;
            text-align: center;
        }
}

.proimg{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    z-index: 2;
    height: 132px;
    width: 100%;

    a{
        border-radius: 50px;
        background-color: $pinkdark;

        img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50px;
        object-position: 50% 0%;;
        margin: 5px;
        margin-bottom: -3px
        }
    }
}

nav{
    @include topbottom();
    bottom: 0;
    justify-content: space-around;
    text-align: center;

    div{
        background-color: $bluedark;
    }
}

#aarskort{
    height: 100px;
    width: 100px;
    margin-bottom: 70px;
    border-radius: 100px;
    border: 25px solid $bluedark;

    svg{
        width: 100%;
        height: auto;
    }
}