@import "base";

:root{
    background-image: url(../assets/baggrund.iphone.svg);
}

@mixin topbottom {
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    height: 100px;
    width: 100%;
    background: $bluedark;
}

body{
    margin: 0px;
}

 header{
        @include topbottom();
        top: 0;
        
        h1 {
            margin: 0px;
            width: 100%;
            text-align: center;
        }
}

.proimg{
    align-items: flex-end;
    position: fixed;
    z-index: 2;
    height: 132px;
    width: 100%;
    top: 0;

    a{
        border-radius: 50%;
        background: $nocardgrad;

        img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
        object-position: 50% 0%;;
        margin: 5px;
        margin-bottom: -3px
        }
    }
}

#probrug{
    height: 212px;
    a{
        img{
            margin: 10px;
            margin-bottom: 2px;
            height: 120px;
            width: 120px;
        }
    }
    
}

.tilsider{
    margin-top: 110px;
    margin-left: 10px;
}

#sidelogo {
    margin-top: 175px;
    text-align: center;
    margin-bottom: 50px;

    img {
        width: 80%;
        height: auto;
    }
}

#box{
    box-sizing: content-box;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.info{
    text-align: center;
    padding: 15px
}

nav{
    @include topbottom();
    bottom: 0;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: -1px;
}

#aarskort{
    width: 100px;
    margin-bottom: 40px;
    border-radius: 100px;
    border: 20px solid $bluedark;
    font-size: 20px;
    background: $bluedark;

    svg{
        width: 100%;
        height: auto;
    }
}

#merepop{
    background: $pinkdark;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: -266px;
    margin-right: -125px;
    display: flex;
    justify-content: left;
    justify-items: left;
    width: 266px;
    height: 266px;
    border-radius: 250px;
    div{
        margin-top: 10px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        text-align: right;

        a{
            color: $backcolor;
            margin-bottom: 5px;
        }

        #X{
            margin-bottom: 5px;
            font-size: 30px;
        }
    }
    
}

.icons{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .brugercon{
        margin-top: 30px;
    }

    .brugericon{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: black;
    }
}

.profilicon{
    margin-top: 80px;
    .brugericon{
        height: 120px;
        width: 120px;
    }
        
}

.iconslille{
    flex-wrap: nowrap;
    flex-direction: column;
    justify-items: center;
    margin-top: 200px;

    .brugericon{
        margin-left: auto;
        margin-right: auto;
    }
}

#aarsicons{
    margin-top: 81px;
    margin-bottom: -20px;
    height: 600px;
    overflow-y: scroll;
}