:root {
  background: #f8f8f8;
  font-size: 20px;
  height: 100%;
}
:root a {
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: "Titillium Web", sans-serif;
  height: 100%;
}

.mindretekst {
  font-size: 18px;
  color: #083649;
}

.overskrift1 {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  color: #083649;
}

.overskrift2 {
  color: #f8f8f8;
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

.navtext {
  font-family: "Bebas Neue", sans-serif;
  color: #f8f8f8;
  font-size: 15px;
}

.navtextbig {
  font-family: "Bebas Neue", sans-serif;
  color: #f8f8f8;
  font-size: 20px;
}

.navicon {
  font-size: 35px;
}

.pink {
  color: #ec008c;
}

#content {
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#box {
  background-color: #f8f8f8;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 20px rgba(8, 54, 73, 0.5));
}

/* Log ind start*/
button {
  background-color: #f900c4;
  color: #f8f8f8;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
}

.button2 {
  background-color: #083649;
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  width: 30%;
}

button:hover {
  opacity: 0.6;
}

/* Teksten over indtastfelterne start*/
label {
  color: #ec008c;
  font-style: bold;
  float: left;
}

/* Teksten over indtastfelterne slut*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  background: #f8f8f8;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-bottom-color: #083649;
  box-sizing: border-box;
}

span.psw {
  float: right;
  font-size: 15px;
  font-weight: bold;
}

/* Glemt kodeord link start*/
a {
  color: #083649;
}

/* Glemt kodeord link slut*/
.inputicon i {
  font-size: 25px;
  color: #083649;
}

/* Log ind slut*/
body {
  margin: 0;
  color: #083649;
}

#struktur {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

.farveover {
  margin-top: 0px;
}

/* navigation start*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #083649;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a.active {
  background-color: #f900c4;
  color: #f8f8f8;
}

li a:hover:not(.active) {
  background-color: #083649;
  color: #f8f8f8;
}

/* navigation slut*/
/* flexbox for indhold start*/
.column {
  float: left;
  width: 25%;
}

.column.right {
  justify-content: center;
  width: 75%;
}

.row {
  display: flex;
  align-items: center;
  padding: 50px;
}

/* flexbox for indhold slut*/
.farveboks {
  background: #083649;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}

.farveboks1 {
  background: #f8f8f8;
  border: 2px solid #083649;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}

.farveboks2 {
  background: #f900c4;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}

.farveboks3 {
  background: #ec008c;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}

.farveboks4 {
  background: linear-gradient(0deg, #083649 0%, #ec008c 100%);
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}

.farveboks5 {
  background: linear-gradient(0deg, #083649 0%, #ec008c 100%);
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}

.farveboks6 {
  background: linear-gradient(0deg, #083649 0%, #ec008c 100%);
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}/*# sourceMappingURL=styleguide.css.map */