@import "base";

body {
    margin: 0;
    color:$bluedark;
    font-size: 15px;
  }

  #struktur {
  margin-left:25%;padding:1px 16px;
  }
  
/* overskriften sidder i samme højde som farveboksen på color.hml 
+ overskrifterne sidder tæt på borderbottum i button.html*/
.farveover {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* navigation for styleguide start*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: $bluedark;
    background-color: $backcolor;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a.active {
    background-color: $pinklight;
    color:$backcolor;
  }
  
  li a:hover:not(.active) {
    background-color: $bluedark;
    color:$backcolor;
  }
/* navigation for styleguide slut*/

/* flexbox for indhold start*/
  .column {
    float: left;
    width: 35%;
    padding-right: 50px;
  }

  .column.right {
    justify-content: center;
    width: 65%;
  }

  .row {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }
  /* flexbox for indhold slut*/


/* flexbox for navigation.html start*/
.column.nav {
  float: left;
  width: 50%;
  padding-right: 50px;
}

.column.right.nav {
  justify-content: center;
  width: 50%;
}

.navtlf {
  height: 200px;
  width: 300px;
  border: 2px solid $bluedark;
}
/* flexbox for navigation.html slut*/

/* flexbox for background.html start*/
.divcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* flexbox for background.html slut*/


  /*colors.html - styling af divboks for farver start*/
@mixin farvebox {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}

.farveboks {
  background:$bluedark;
  @include farvebox();
}

.farveboks1 {
  background:$backcolor;
  border: 2px solid $bluedark;
  @include farvebox();
}

.farveboks2 {
  background:$pinklight;
  @include farvebox();
}

.farveboks3 {
  background:$pinkdark;
  @include farvebox();
}

.farveboks4 {
  background:$nocardgrad;
  @include farvebox();
}

.farveboks5 {
  background:$goldgrad;
  @include farvebox();
}

.farveboks5a {
  background:$goldradial;
  @include farvebox();
}

.farveboks6 {
  background:$bronzegrad;
  @include farvebox();
}

.farveboks6a {
  background:$bronzeradial;
  @include farvebox();
}


.farveboks7 {
  background:$errorred;
  @include farvebox();
}

.farveboks8 {
  background:#8e8e8e;
  @include farvebox();
}

.farveboks9 {
  background:#000000;
  @include farvebox();
}
/*colors.html - styling af divboks for farver slut*/

.overskrift2 {
      margin: 0px;
      width: 100%;
      text-align: center;
  }

.botnav {
  align-self: flex-end;

}

@mixin topbottom {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-items: center;
    right: 0;
    height: 100px;
    width: 100%;
    background: $bluedark;
}

nav{
  @include topbottom();
  bottom: 0;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: -1px;
}

nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  right: 0;
  height: 100px;
  width: 100%;
  background: #083649;
  bottom: 0;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: -1px;
}

#aarskort{
  width: 100px;
  margin-bottom: 40px;
  border-radius: 100px;
  border: 20px solid $bluedark;
  font-size: 20px;
  background: $bluedark;

  svg{
      width: 100%;
      height: auto;
  }
}

#merepop{
  background: $pinkdark;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: -266px;
  margin-right: -125px;
  display: flex;
  justify-content: left;
  justify-items: left;
  width: 266px;
  height: 266px;
  border-radius: 250px;
  div{
      margin-top: 10px;
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      text-align: right;

      a{
          color: $backcolor;
          margin-bottom: 5px;
      }

      #X{
          margin-bottom: 5px;
          font-size: 30px;
      }
  }
  
}

.icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .brugercon{
      margin-top: 30px;
  }

  .brugericon{
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
  }
}

.profilicon{
  margin-top: 80px;
  .brugericon{
      height: 120px;
      width: 120px;
  }
      
}

.iconslille{
  flex-wrap: nowrap;
  flex-direction: column;
  justify-items: center;

  .brugericon{
      margin-left: auto;
      margin-right: auto;
  }
}

#aarsicons{
  margin-top: 81px;
  margin-bottom: -20px;
  height: 600px;
  overflow-y: scroll;
}

/*navigation.html = telefon str. div slut*/

/*icons.html - styling af divboks for ikoner start*/
.knapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#aarskort {
  width: 100px;
}
/*icons.html - styling af divboks for ikoner slut*/

/*type.html - styling af divboks for skrifttyper start*/
.typediv{
  border-top: 3px solid $bluedark;
  margin-bottom: 50px;
}

.typediv1{
  border-top: 2px solid $bluedark;
  margin-bottom:15px;
}
/*type.html - styling af divboks for skrifttyper slut*/

/* forms.html start */
.inputicon{
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  i{
    margin-top: 20px;
    margin-right: 10px;
  }
}
/* forms.html slut */

/* validation.html start*/
#error {
  display:inline-block;
  width: 100%;
}
/* validation.html slut*/
