@import "base";

body {
    margin: 0;
    color:$bluedark;
  }
  
  #struktur {
  margin-left:25%;padding:1px 16px;height:1000px;
  }
  
.farveover {
  margin-top: 0px;
}

/* navigation start*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: $bluedark;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a.active {
    background-color: $pinklight;
    color:$backcolor;
  }
  
  li a:hover:not(.active) {
    background-color: $bluedark;
    color:$backcolor;
  }
/* navigation slut*/


  /* flexbox for indhold start*/
  .column {
    float: left;
    width: 25%;
    padding-right: 50px;
  }

  .column.right {
    justify-content: center;
    width: 75%;
  }

  .row {
    display: flex;
    align-items: center;
    padding: 50px;
  }
  /* flexbox for indhold slut*/


  /*colors.html - styling af divboks for farver start*/
@mixin farvebox {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}

.farveboks {
  background:$bluedark;
  @include farvebox();
}

.farveboks1 {
  background:$backcolor;
  border: 2px solid $bluedark;
  @include farvebox();
}

.farveboks2 {
  background:$pinklight;
  @include farvebox();
}

.farveboks3 {
  background:$pinkdark;
  @include farvebox();
}

.farveboks4 {
  background:$nocardgrad;
  @include farvebox();
}

.farveboks5 {
  background:$nocardgrad;
  @include farvebox();
}

.farveboks6 {
  background:$nocardgrad;
  @include farvebox();
}
/*colors.html - styling af divboks for farver slut*/

/*buttons.html - styling af divboks for farver start*/
.knapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bruger, #aarskort, #mere {
  background: $bluedark;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  a {
    margin: 5px;
  }
}

#aarskort {
  width: 100px;
}
/*buttons.html - styling af divboks for farver slut*/

/*type.html - styling af divboks for skrifttyper start*/
.typediv{
  border-top: 3px solid $bluedark;
}

