@import "base";

body {
    margin: 0;
    color:$bluedark;
  }
  
  #struktur {
  margin-left:25%;padding:1px 16px;height:1000px;
  }
  
.farveover {
  margin-top: 0px;
}

/* navigation start*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: $bluedark;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a.active {
    background-color: $pinklight;
    color:$backcolor;
  }
  
  li a:hover:not(.active) {
    background-color: $bluedark;
    color:$backcolor;
  }
/* navigation slut*/


  /* flexbox for indhold start*/
  .column {
    float: left;
    width: 50%;
  }

  .column.right {
    justify-content: center;
  }

  .row {
    display: flex;
    align-items: center;
    padding: 50px;

  }
  /* flexbox for indhold slut*/

.farveboks {
  background:$bluedark;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  margin: auto;
}
