$backcolor: #F8F8F8;
$darkblue: #083649;
$darkpink: #ec008c;

body{
    font-family: 'Titillium Web', sans-serif;
}

.normalover{
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.topover{
    font-size: 45px;
    font-family: 'Bebas Neue', sans-serif;
}

.normaltext{
    font-size: 20px;
}