@import "base";

$nocardgrad: linear-gradient(0deg, rgba(249,0,196,1) 0%, rgba(8,54,73,1) 100%);


:root{
    background-image: url(assets/baggrund.iphone.svg);
    background-color: $backcolor;
    color: $backcolor;
    
    a{
        color: $backcolor;
        text-decoration: none;
    }
}

@mixin topbottom {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    height: 100px;
    width: 100%;
    background-color: $darkblue;
}

body{
    margin: 0px;
}

 header{
        @include topbottom();
        top: 0;
        

        h1 {
            margin: 0px;
            width: 100%;
            text-align: center;
            width: 600;
            font-size: 300%
        }
}

.pink {
    color: $darkpink;
}

.proimg{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    z-index: 1;
    height: 136px;
    width: 100%;

    a{
        padding: 5px;
        border-radius: 50px;
        background-color: $darkpink;

        img{
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50px;
        object-position: 50% 0%;;
        margin-bottom: -5px;
        }
    }
}

nav{
    @include topbottom();
    bottom: 0;
    justify-content: space-around;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;

    div{
        background-color: $darkblue;

        i{
            font-size: 35px;
        }
    }
}

#aarskort{
    height: 100px;
    width: 100px;
    margin-top: -50px;
    border-radius: 100px;
    border: 25px solid $darkblue;
    font-size: large;

    svg{
        width: 100%;
        height: auto;
    }
}